body{
  margin: 0;
  padding: 0;
  text-decoration: none;

}
#topo{
  background-color: #CBCBCB;
  height: 170px;
  width: 1000px;
  margin-top: 60px;  
}
#mid{
  background-color: #A9A9A9;
  width: 1000px;
  height: 40px;
}
#embaixo{
  background-color: white;
  height: 281px;
  width: 1000px;
  margin-top: 14px;
}
#down{
  background-color:rgba(0, 0, 88, 0.979);
  height: 93px;
  width: 1325px;
  text-align: center;
  margin-left: 0;
  color: cornflowerblue;
  margin-top: 0;
  margin-left: 0;
}
.cercas{
  position: absolute;
}
#cerca1{
  margin-top: 137px;
  margin-left: 415px;
  z-index: 4;
}
#cerca2{
  margin-top: 137px;
  margin-left: 334px;
  z-index: 4;
}
#cerca3{
  margin-top: 137px;
  margin-left: 253px;
  z-index: 4;
}
#cerca4{
  margin-top: 137px;
  margin-left: 172px;
  z-index: 4;
}
#cerca5{
  margin-top: 137px;
  margin-left: 91px;
  z-index: 4;
}
#cerca6{
  margin-top: -33px;
  margin-left: 160px;
  z-index: 4;
}
#cerca7{
  margin-top: -33px;
  margin-left: 237px;
  z-index: 4;
}
#cerca8{
  margin-top: -33px;
  margin-left: 307px;
  z-index: 4;
}
#cerca9{
  margin-top: -33px;
  margin-left: 377px;
  z-index: 4;
}
#cerca10{
  margin-top: -33px;
  margin-left: 447px;
  z-index: 4;
}
#grama1{
  margin-top: -28px;
  margin-left: 159px;
  z-index: 5;
}
#grama2{
  margin-top: -28px;
  margin-left: 307px;
  z-index: 5;    
}
#grama3{
  margin-top: 142px;
  margin-left: 250px;
  z-index: 3;
}
#grama4{
  margin-top: 142px;
  margin-left: 90px;
  z-index: 3;
}

#placas{
  margin-left: 250px;
}
#ursas{
  height: 160px;
  margin-top: -220px;
  margin-left: 90px;
}
.menu{
  margin-left: 0;
  margin-top: 0;
  background-color: rgb(85, 85, 85);
  padding: 1px;
  text-decoration:none;
  color:aliceblue;
}
.menu ul{
  list-style: none;
  color: rgb(255, 255, 255);
  font-family: Tahoma;
}
.menu ul li{
  display: inline;
  margin-left: 20px;
  cursor: pointer;
  padding: 5px 10px;
}
.menu ul li:hover{
  background-color: rgb(206, 82, 11);
  color: black;
  border-radius: 20px 20px 20px 20px;
}
#agaum{
  margin-top: 0%;
  text-shadow: 2px 1px white;
}